<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rotgruengelb.net | Coming Soon</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/errors.css') }}">
  </head>
  <body>
    <div class="wrapper">
      <h1>404</h1>
      <h2>Not Found!</h2>
      <p> </p>
      <p>The requested URL was not found on the server. If you entered the URL manually please check your spelling and try again.<p>
    </div>
  </body>
</html>
