<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rotgruengelb.net | Coming Soon</title>
    <link rel="stylesheet" href="{{ url_for("static", filename="css/errors.css") }}">
  </head>
  <body>
    <div class="wrapper">
      <h1>410</h1>
      <h2>Gone!</h2>
      <p> </p>
      <p>The requested URL or site was removed from the server. This is most likely intentional and permanent.<p>
    </div>
  </body>
</html>
