<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rotgruengelb.net | Coming Soon</title>
    <link rel="stylesheet" href="{{ url_for("static", filename="css/errors.css") }}">
  </head>
  <body>
    <div class="wrapper">
      <h1>900</h1>
      <h2>OhhOh!</h2>
      <p> </p>
      <p>Something went really wrong!<br><p-small>(This is a custom response code implemented for rotgruengelb.net)</p-small><p>
    </div>
  </body>
</html>
