<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rotgruengelb.net | Coming Soon</title>
    <link rel="stylesheet" href="{{ url_for("static", filename="css/errors.css") }}">
  </head>
  <body>
    <div class="wrapper">
      <h1>910</h1>
      <h2>Not intended for viewing!</h2>  
      <p>This URL or an extension of it is used, but this URL specifically is not intended for viewing.<br><p-small>(This is a custom response code implemented for rotgruengelb.net)</p-small><p>
      
    </div>
  </body>
</html>
