<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rotgruengelb.net | Coming Soon</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/errors.css') }}">
  </head>
  <body>
    <div class="wrapper">
      <h1>920</h1>
      <h2>Placeholder</h2>  
      <p>This URL is currently either a placeholder itself or it is occupied by a placeholder to signal that it will be used in the future.<br><p-small>(This is a custom response code implemented for rotgruengelb.net)</p-small><p>
      
    </div>
  </body>
</html>
